/*.portfolio-mf .title-a, .portfolio-mf .subtitle-a {
	color: white;
}

.porfolio-mf .line-mf	{
	background-color: white
}*/

.w-link i {
	font-size: 1.75rem;
	float: right;
    padding-left: 5px;	
    fill: #4e4e4e
}

.w-link i:hover {
  color: #24b67e;
}

.w-title {
	font-weight: bold;
}

.sect-mt4 .title-a, .sect-mt4 .subtitle-a {
	color: white;
}

.about-mf .overlay-mf, .skill-mf .overlay-mf {
	background-color: rgb(255,250,250);
}

.overlay-mf {
	background-color: rgb(255,250,250)
}
/* if you want to change the original color */
/*.devicon-git-plain path {
  fill: #4691f6;
}*/

.about-img img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-height: 200px;
}

.lead {
	font-size: 1rem
}

.light-box {
	background-color: rgba(255,250,250, 0.7)
}

.dark-box {
	background-color: rgba(255,250,250, 0.7)
}

/*#portfolio div.container div.line-mf {
	background-color: white;
}*/

.title-a {
	font-size: 2.25rem;
}

.portfolio-img {
	height: 200px;
	width: auto;
}

.img-portfolio {
	height: 100%;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.portfolio-header {
	border-bottom: 1px solid lightgrey;
}

.portfolio-description {
	border-top: 1px solid lightgrey;
	height: 150px;
	overflow-y: scroll;
	padding: 5px;
}


.portfolio-box {
	z-index: 1;
	background-color: rgba(250, 250, 250, 0.7);
}

.skill-mf .progress {
    background-color: #bbf5df;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: 2.25rem;
}

.skill-mf .progress .progress-bar {
    height: 2.25rem;
    background-color: #24b67e;
    line-height: 2.25px;
    font-size: 1rem;
    text-align: left;
    font-weight:100;
    padding-left: 20px;
}

.copyright-box {
	color: black;
}

#contact {
	padding-bottom: 0.25rem;
}

.social-icons {
	padding-top: 20px;
	padding-bottom: 20px;
}

.social-icons i {
	padding-right: 20px;
	font-size: 30px;
}

.pt-3 a {
	background-color: rgba(255,250,250, 0.7);
	font-weight: 600;
}