.portfolio-mf .title-a, .portfolio-mf .subtitle-a {
	color: white;
}

.porfolio-mf .line-mf	{
	background-color: white
}

.devicon-git-plain {
  font-size: 4rem;
  fill: #4e4e4e
}

.devicon-git-plain:hover {
  font-size: 4rem;
  color: #24b67e;
}

.sect-mt4 .title-a, .sect-mt4 .subtitle-a {
	color: white;
}

.about-mf .overlay-mf, .skill-mf .overlay-mf {
	background-color: rgb(255,250,250);
}
/* if you want to change the original color */
/*.devicon-git-plain path {
  fill: #4691f6;
}*/

.about-img img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-height: 200px;
}

.lead {
	font-size: 1rem
}

.w-link {
	text-align: right;
}

.w-link i {
	font-size: 1.75rem;
}

.light-box {
	background-color: rgba(255,250,250, 0.7)
}

.dark-box {
	background-color: rgba(255,250,250, 0.7)
}

#portfolio div.container div.line-mf {
	background-color: white;
}

.title-a {
	font-size: 2.25rem;
}